name: compile
on:
    pull_request:
    push:

jobs:
    compile:
        runs-on: ubuntu-latest
        steps:
            - run: corepack enable
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  cache: "yarn"
            - name: Compile
              run: |
                  yarn
                  yarn run compile
    test:
        needs:
            - compile
        runs-on: ubuntu-latest
        steps:
            - run: corepack enable
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  cache: "yarn"
            - name: Test
              run: |
                  yarn
                  yarn run test
    publish:
        if: startsWith(github.ref, 'refs/tags/')
        needs:
            - compile
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  registry-url: "https://registry.npmjs.org"
            - run: pnpm install
            - run: pnpm build
            - run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
