name: style
on:
    pull_request:
    push:

jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - run: corepack enable
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  cache: "pnpm"
            - name: Run prettier
              run: |
                  pnpm install
                  pnpm run format
    lint:
        runs-on: ubuntu-latest
        steps:
            - run: corepack enable
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  cache: "pnpm"
            - name: Run eslint
              run: |
                  pnpm install
                  pnpm run lint
