name: API docs
on:
    push:
        branches:
            - rewrite

jobs:
    # The main documentation is built by readthedocs.
    build:
        runs-on: ubuntu-latest
        steps:
            - run: corepack enable
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  cache: "pnpm"
            - name: Build
              run: |
                  pnpm install
                  pnpm exec typedoc
            - name: Upload
              id: deployment
              uses: actions/upload-pages-artifact@v3
              with:
                  path: ./typedoc
    publish:
        runs-on: ubuntu-latest
        needs: build
        permissions:
            contents: read
            pages: write
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
